*{
    box-sizing: border-box;
    font-family: 'Shantell Sans', cursive;

}

body{
    background-color: #323437;
}

h1{
    color: gold;
    font-size: 2.5rem;
}

.panel {
    border: 2px solid red;
    height: fit-content;
    width: 72%;
    margin: auto;
    margin-top: 19px;
    padding: 13px;
}

#inputBox {
    background-color: #323437;
    
   
     color :  #646669;
    font-size: 1.5rem;
    text-align: left;
    border : none ;
    outline: none;
    height: 198px;
    width: 72%;
    margin: auto;
    margin-top: 43px;
   
}

#wordCount{
    color : white;
}

.correct{
    color : #d1d0c5 ;
    color : rgb(50, 220, 50) ;
}

.wrong{
    color : rgb(229, 107, 107) ;
}


.panel{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.panel-item {
    font-size: 1.75rem;
    color: #d1d0c5 ;

}

.progressBars{
    /* border : 3px solid green ; */
    width: 72%;
    height: 305px;
    padding : 5px ;
    display: flex;
    align-items: flex-start;
    flex-direction: column;


}

.players{
    color : goldenrod;
    font-size: 1.25 rem;
}
.bars{
    /* border : 3px solid greenyellow ;  */

    margin-top : 10px;
    width : 5% ;
    /* background-color: greenyellow ; */


}

#A1 {
    background-color: rgb(143, 228, 46);
}

#A2 {
    background-color: rgb(219, 139, 65);
}

#A3 {
    background-color: rgb(219, 191, 65);
}

#A4 {
    background-color: rgb(50, 216, 216);
}

#A5 {
    background-color: rgb(216, 50, 216);
}


input[type="textarea"]:focus {
    outline: none;
    border: none;
  }